.app {
  text-align: center;
  background-color: #cbbf7a;
}

#form-row{
  border: solid #584d3d 5px;
  justify-content: center;
}

#horn-form{
  width: fit-content;
  margin: 0.5em 0 1em 0;
}

#form-select{
  background-color: #9f956c;
  border: solid 2px #584d3d;
  font-weight: bolder;
}